 {{#if error}}
    <div class="p-3 mb-2 bg-danger text-white">{{error}}</div>
{{/if}}
 <div class="w-25 p-3 mx-auto border mt-4">
        <p class="text-center text-info h1">Login</p>
    <form class="mx-auto" method="POST" action="/login">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input name="username" type="text" id="form2Example1" class="form-control"  placeholder="username"/>
            <!-- <label class="form-label" for="form2Example1">username</label> -->
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input name="password" type="password" id="form2Example2" class="form-control" placeholder="password"/>
            <!-- <label class="form-label" for="form2Example2">Password</label> -->
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
        <div class="text-center">
          <p>Not a member? <a href="/signup">Register</a></p>
      </div>
    </form>
</div>