<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Movie Info</a>
      
        <div class="collapse navbar-collapse ml-auto" id="navbarTogglerDemo03">
          <form class="form-inline my-2 my-lg-0 ml-auto">
            {{#if account}}
            <a type="button" class="btn btn-outline-secondary mr-2" href="/profile">Hi {{account}}</a>
            {{else}}
            <a type="button" class="btn btn-success mr-2 font-weight-bold" href="/login">LOGIN</a>
            {{/if}}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>